

.bloc1, .bloc2{
    margin:0;
    position: relative;
    display: inline-block;
}

a{
    margin-bottom: 14px;
    display:block;
    position: relative;
    float: left;
    text-decoration:none;
    color:#1979c3;
}

.bloc1-photo, .bloc2-photo{
    height: auto;
    display: block;
    position: relative;
    max-width: 100%;
}

.bloc1-title-button, .bloc2-title-button{
    top: 12%;
    position: absolute;
    left:1em;
    right: 1em;
    text-align: center;
}

.title1, .title2{
    height:110px;
    width: 100%;
    font-size: 3.5em;
    margin-bottom:0.8rem;
    font-weight: 700;
    line-height: 1.11em;
    color:#fff;
    text-shadow: 0 0 2px rgb(0 0 0 / 50%);
}

.button1, .button2{

    height: 4.45em;
    line-height: 4.75em;
    padding:0 4.6em;
    border-radius: 2.725em;
    
}

/****Partie océane******/
body{
  font-family:'Helvetica Neue';
}
header{
  margin: 0;
  width: 100vw;
}
header.Logo{
  width: 50%;
}
.logo{
  margin-top: 10px;
  width: 90px;
  position: relative;
  z-index: 5;
}

.toggle{
  font-size: 1.5rem;
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  z-index: 5;
}
.fa-xmark{
  visibility: hidden;
}
.open .fa-bars{
  display: none;
}
.open .fa-xmark{
  visibility: visible;
}
.Nav{
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 4;
  transform: translateX(-100%);

}
.open .Nav{
  transform: translateX(0);
}
span{
    background-color: white;
    border-radius: 50%;
    display: block;
}

.Nav li{
  list-style-type: none;
}
.black{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.Red{
  text-decoration: none;
  color: rgba(150, 52, 22, 0.788);
  font-size: 16px;
  font-weight: bold;
}
label{
  width: 80vw;
  height: 40px;
  margin: auto;
  position: relative;
}
label input{
  width: 90%;
  border: none;
  border-bottom: 1px solid gray;
  margin:0 10px ;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.fa-magnifying-glass{
  position: absolute;
  top: 2px;
  left: 90%;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(24, 23, 23);
}
.MagasinCompte{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;

}
.fa-location-dot{
  color:#004E38 ;
  font-size: 1.3rem;
  margin-right: 5px;
  cursor: pointer;
}
.compte{
  display: inline;
  float: right;
  font-size: 0.9rem;
  color: grey;
  margin-top: 18px ;
  cursor: pointer;
}
.fa-user{
  margin-right: 10px;
  font-size: 1.3rem;
  float: left;
  margin-top: 15px;
  color:#004E38 ;
  
}
.after{
  margin-top: 15px;
  color: grey;
  font-size: 0.9rem;
}
.basket{
  background-color: #28a17f;
  height: 45px;
  width: 50px;
  text-align: center;
  padding-top: 8px;
  border-radius: 25px;
  position: fixed;
  left: 85vw;
  top: 90vh;
  z-index: 20;
}
.fa-basket-shopping{
  font-size: 2rem;
  color: white;
  
}

.slider{
  width: 100vw;
  overflow: hidden;
  margin-bottom: 5px;
 
}
.slides{
  width: calc(100vw* 2);
  animation: carousel 20s infinite ease;
}

.slide{
  float: left;
  width: 100vw;
  
}
.slide img{
  width: 100vw;
  object-fit: fill;
  height: 30vh;
  background-size: cover;
}

@keyframes carousel {
  0%{
    transform: translateX(0);
  }
  
  50%{
    transform: translateX(-100vw);
  }
  
  100%{
    transform: translateX(0);
  }
  
}
h1{
  font-size: 1.8rem;
  text-align: center;
  color: #004E38;
}

.indispensables{
  width: 90%;
  margin: auto;
}
.indispensableProduits{
  width: 100%;

}
.slidesIndis{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.Box{
  width: 40%;
  margin-right: 20px;
  position: relative;
}
.imgPlancha img{
  width: 100%
}
.imgGéra img{
  width: 100%
}
.imgCanapé img{
  width: 100%
}
.Box span{
  position: absolute;
  top: 65%;
  color: white;
  background-color: #004E38;
  border-radius: 5px;
  width: 36%;
  text-align: center;
}
.Indis{
  font-size: 0.8rem;
}
.carteFidélité{
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: #E44F63;
  margin-bottom: 20px;
  position: relative;

}
.carteFidélité button{
  height: 35px;
  width: 120px;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 30%;
  left: 65%;
  background-color: #004E38;
  color: white;
}
.carteFidélité img{
  width: 20%;
  height: 70%;
  margin: 10px 30px;

}

/*partie Hayet----*/
/*Bloc parent----*/
.conteneur{
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(248, 244, 244);
    padding: 5px;
    box-sizing: border-box;
    background-color:#ebf9f3;
}
/*--enfant du conteneur nommé b1--*/
.b1{
    width: 100%;
    height: 470px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color:white;
}
/*--taille de la photo lys--*/
.lys{
    width: 100%;
}
/*--mise en page du texte du conteneur Parent--*/
.idées{
    color:#136a55;
    font-size:60px;
    text-align: center;
    font-style: oblique;
}
/*--titre sous la photo lys--*/
.magazine{
    text-align:left;
    font-size: 25px;
    color: black;

}
span{
    background-color: white;
    border-radius: 50%;
    display: block;
}

/*--fin bloc parent----*/

/*----------END HAYET----------*/


/*******partie jadla footer**********/
.ecolo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.fondation1{
  grid-area: 1/ 1 / 2 / 3;
  position: relative;
  width: 98%;
  
}
.fondation1 img{
  width: 100%;
}
.fondation1 h2 {
  position: absolute;
  color: white;
  font-weight: 400;
  top: 50%;
  font-size: 15px;

}
.fondation1 p{
  position: absolute;
  color: white;
  font-weight: 400;
  top: 65%;
  font-size: 15px;
}
.fondation1 p .fa-circle-right {
  margin-left: 120px;
  cursor: pointer;
}
.fondation2{
  grid-area: 1/ 4 / 2 / 6;
  position: relative;
  width: 98%;
  
}
.fondation2 img{
  width: 100%;
}
.fondation2 h2 {
  position: absolute;
  color: white;
  font-weight: 400;
  top: 60%;
  font-size: 15px;

}
.fondation2 p .fa-circle-right{
  margin-left: 25px;
  cursor: pointer;
}
.fondation2 p{
  position: absolute;
  color: white;
  font-weight: 400;
  top: 70%;
  font-size: 15px;
}
.fondation3{
  grid-area: 2/ 2 / 3 / 2;
  position: relative;
  width: 200%;
  margin-left: 35px;
  
}
.fondation3 img{
  width: 100%;
}
.fondation3 h2 {
  position: absolute;
  color: white;
  font-weight: 400;
  top: 48%;
  font-size: 15px;

}
.fondation3 p{
  position: absolute;
  color: white;
  font-weight: 400;
  top: 75%;
  font-size: 15px;
}
.fondation3 p .fa-circle-right {
  margin-left: 50px;
  cursor: pointer;
}

.Terre{
  position: relative;
  height: 120px;
}
.Terre img{
  height: 100%;
}
.Terre h2{
  position: absolute;
  top: 0;
  left:25% ;
  font-size: 1.2rem;
  color: white;
}
.Terre p{
  position: absolute;
  top: 25%;
  left:28% ;
  font-size: 0.7rem;
  color: white;
}
.Terre p span{
  position: absolute; 
  left:18% ;
  font-size: 0.8rem;
  color: white;
  background-color: transparent;
}
.Terre button{
  cursor: pointer;
  position: absolute; 
  top: 70%;
  left:35% ;
  width: 33%;
  font-size: 0.6rem;
  color: white;
  background-color: #11112D;
  border: none;
  height: 22%;
  border-radius: 36px 41px; 
}
.paiement{
  display: flex;
  justify-content: space-around;
  background-color: #17a181;
}
.fa-circle-half-stroke{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: white;
}
.Paie{
  width: 30%;
  margin-left: 5%;
}
.Paie h3{
  font-weight: 500;
  font-size: 0.6rem;
  color: white;
  
}
.Paie p{
  font-weight: 500;
  font-size: 0.6rem;
  color: white;
  
}

.fa-truck-arrow-right{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: white;
}
.fa-box{
  margin-top: 10px;
  margin-left: 15px;
  font-size: 1.5rem;
  color: white;
}

.fa-diamond{
  margin-top: 10px;
  margin-left: 28px;
  font-size: 1.5rem;
  color: white;
}

.Joindre{
 display: flex;
 justify-content: space-around;
 width: 100%;
 height: 150px;
}

.lesMagazines{
  width: 40%;
  height: 80%;
}
.lesMagazines h2{
  font-size: 1rem;
}
.lesMagazines .fa-book-open{
  font-size: 2.5rem;
  margin-left: 25%;
  color:#17a181 ;
  cursor: pointer;
}
.lesMagazines p{
  font-size: 12px;

}

.Magasin{
  width: 35%;
  height: 80%;
  text-align: center;
  
}
.Magasin h2{
  font-size: 1rem;
}
.Magasin p{
  font-size: 12px;
}
.Magasin button{
  background-color: #11112D;
  color: white;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 36px 41px; 
  cursor: pointer;
}
.navFooter{
  width: 100%;
}
.Apropos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color:#2D2828 ;
  width: 100%;
  height: 150px;
  color: white;
  padding-left: 10px;

}
.Apropos li{
  list-style-type: none;
  cursor: pointer;
  font-size: 1rem;
  width: 40%;

}
.Contact{
  display: flex;
  justify-content: space-between;
  height: 150px;
}
.Contact1 p{
  font-size: 0.7rem;
}
.Contact1 p span{
  font-size: 0.7rem;
  text-align: center;
  font-weight: 700;
  background-color: none;
}

.RS{
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 18px;
}
.RS i{
  cursor: pointer;
}

.infoPlus h2{
  font-size: 1rem;
}
.Listefinale{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.Listefinale li{
  cursor: pointer;
  list-style-type: none;
  width: 25%;
  font-size: 12px;
  margin: 0 0 15px 0;

}
.h3Footer h3{
  font-size: 0.9rem;
}
.h3Footer p{
  font-size: 0.6rem;
}

.Ulfinale{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.Ulfinale li{
  cursor: pointer;
  list-style-type: none;
  width: 33%;
  font-size: 9px;
  margin: 0 0 15px 0;
  text-align: center;
  border-right: 1px solid grey;
}
